#####################################################################
# 	Extruder
#####################################################################

# SB2209 CAN pinout
# https://github.com/bigtreetech/EBB/blob/master/EBB%20SB2209%20CAN%20(RP2040)/Hardware/EBB%20SB2209%20CAN%20V1.0%EF%BC%88RP2040%EF%BC%89-Pin.png

[force_move]

[mcu EBBCan]
canbus_uuid: cc47a91d9804

# [temperature_sensor EBB_NTC]
# sensor_type: Generic 3950
# sensor_pin: EBBCan:gpio28

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
rotation_distance: 47.088 # G2E
gear_ratio: 9:1 # G2E
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan:gpio27
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 270
pressure_advance: 0.040
#  pressure_advance_smooth_time: 0.040
#  max_extrude_cross_section: 1

[tmc2209 extruder]
uart_pin: EBBCan:gpio20
run_current: 0.6
stealthchop_threshold: 0

[fan] # part-cooling
pin: EBBCan:gpio15
tachometer_pin: ^EBBCan:gpio12
tachometer_ppr: 2
hardware_pwm: true
cycle_time: 0.00004 #25KHz

[heater_fan hotend_fan]
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0
max_power: 0.95
shutdown_speed: 0.0


### High-precision PT100 or PT1000 4-pin temp sensor
# sensor_type: MAX31865
# sensor_pin: EBBCan:gpio9
# spi_software_sclk_pin: EBBCan:gpio10
# spi_software_mosi_pin: EBBCan:gpio8
# spi_software_miso_pin: EBBCan:gpio11
# rtd_nominal_r: 100
# rtd_reference_r: 430
# rtd_num_of_wires: 2