# ADXL345 accelerometer on the SB2209 toolhead board
[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 100, 100, 20
accel_chip: adxl345

[input_shaper]
shaper_freq_x: 63.6
shaper_type_x: mzv
shaper_freq_y: 64.6
shaper_type_y: 2hump_ei
